<% if @results.any? %>
    <h2>Guests:</h2>
    <div class="results">
      <% @results.each do |guest| %>
          <div class="result">
            <div class="result_name"><%= guest.last_name %>, <%= guest.first_name %></div><div class="table_name"><%= guest.table.name %></div>
            <% unless guest.table.map_url.blank? %>
                <a class="map button" href=<%= table_map_path(guest.table)%>>Table Location</a>
            <% end %>
          </div>
      <%end%>
    </div>
<% else %>
    <h2> There were no results for that guests's name </h2>
<% end %>

<%= render 'shared/return_footer' %>
